
/**************************************************************

	MultiBox
	v1.3

**************************************************************/

p.ajaxContent {
	color: #000;
	font-family: "Lucida Sans Unicode", "Lucida Grande", Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: bold;
	padding: 10px;
}

/*************************************************************/


/*
     FILE ARCHIVED ON 03:21:33 Sep 03, 2018 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 06:26:22 Mar 01, 2021.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  esindex: 0.016
  PetaboxLoader3.resolve: 84.259 (2)
  exclusion.robots: 0.369
  load_resource: 217.956 (2)
  exclusion.robots.policy: 0.325
  CDXLines.iter: 30.68 (3)
  RedisCDXSource: 13.117
  LoadShardBlock: 200.626 (3)
  captures_list: 255.925
  PetaboxLoader3.datanode: 123.345 (5)
*/