
/**************************************************************

	MultiBox
	v1.3

**************************************************************/

p.ajaxContent {
	color: #000;
	font-family: "Lucida Sans Unicode", "Lucida Grande", Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: bold;
	padding: 10px;
}

/*************************************************************/


/*
     FILE ARCHIVED ON 03:21:33 Sep 03, 2018 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 02:35:53 Mar 24, 2021.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  PetaboxLoader3.datanode: 148.987 (5)
  RedisCDXSource: 2.031
  CDXLines.iter: 30.708 (3)
  esindex: 0.02
  captures_list: 159.263
  exclusion.robots: 0.301
  exclusion.robots.policy: 0.281
  PetaboxLoader3.resolve: 69.96 (2)
  load_resource: 172.207 (2)
  LoadShardBlock: 121.679 (3)
*/