
/**************************************************************

	MultiBox
	v1.3

**************************************************************/

p.ajaxContent {
	color: #000;
	font-family: "Lucida Sans Unicode", "Lucida Grande", Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: bold;
	padding: 10px;
}

/*************************************************************/


/*
     FILE ARCHIVED ON 03:21:33 Sep 03, 2018 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 06:09:56 Mar 01, 2021.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 106.084
  exclusion.robots: 0.188
  exclusion.robots.policy: 0.176
  RedisCDXSource: 0.838
  esindex: 0.012
  LoadShardBlock: 75.642 (3)
  PetaboxLoader3.datanode: 101.487 (5)
  CDXLines.iter: 25.849 (3)
  load_resource: 178.836 (2)
  PetaboxLoader3.resolve: 63.227 (2)
*/