
/**************************************************************

	MultiBox
	v1.3

**************************************************************/

p.ajaxContent {
	color: #000;
	font-family: "Lucida Sans Unicode", "Lucida Grande", Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: bold;
	padding: 10px;
}

/*************************************************************/


/*
     FILE ARCHIVED ON 03:21:33 Sep 03, 2018 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 06:35:42 Mar 01, 2021.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  exclusion.robots: 0.135
  captures_list: 85.216
  LoadShardBlock: 56.607 (3)
  RedisCDXSource: 0.566
  PetaboxLoader3.datanode: 101.512 (5)
  esindex: 0.01
  PetaboxLoader3.resolve: 90.027 (2)
  exclusion.robots.policy: 0.125
  CDXLines.iter: 24.086 (3)
  load_resource: 140.486 (2)
*/